.chip {
    display: inline-block;
    padding: 0.3rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 1rem;
    background-color: #e9ecef;
    color: var(--heading-text-color);
    font-weight: 600;
    background-color: var(--card-background-color);
    margin: 4px;
}