.home-wrapper-page {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 15px 25px;
}

.home-top-page {
  width: 100%;
  max-width: var(--container-width);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.home-body-page {
  width: 100%;
  max-width: var(--container-width);
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4rem 2rem;
}

a {
  display: flex;
  flex-basis: calc(25% - 3rem);
  flex-grow: 1;
  max-width: 25%;
}

@media screen and (max-width: 905px) {
  .home-top-page {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: auto;
    height: 155px;
  }

  .home-body-page {
    gap: 2rem;
  }

  a {
    max-width: 100%;
  }
}