.search {
  position: relative;
}

.search input[type="text"] {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  width: 373px;
  height: 56px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
}

.search label {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  background-color: var(--background-color);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform-origin: left top;
  transform: translate(10px, 17px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    padding: 0 5px;
}

.search input::placeholder {
  color: transparent;
}

.search input:focus + label,
.search input:not(:placeholder-shown) + label {
  color: var(--text-color);
  transform: translate(10px, -30%) scale(0.75);
}

@media screen and (max-width: 905px) {
  .search input[type="text"] {
    width: calc(100vw - 50px);
  }
}